:root {
	--Purple: #c55ffc;
	--Purple-Haze: #efdcf9;
	--Charcoal: #323e42;
	--Violet: #7954a1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

ul {
	li {
		list-style: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

body {
	background-color: var(--Purple-Haze);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	min-height: 100vh;

}



img {
	width: 100%;
}

header {
	min-width: 100%;

	nav {
		display: flex;
		background-color: var(--Violet);
		padding: 10px 0;
		width: 100%;
		justify-content: space-around;
		margin-top: 1em;
		position: absolute;

		.logo {
			text-transform: capitalize;
			font-family: sans-serif;
			font-weight: 800;
			color: whitesmoke;
		}
		ul li {
			display: inline;
			margin: 0 10px;

			.link {
				text-transform: capitalize;
				color: aliceblue;
			}
		}
	}
}

.menu {
	display: none;
}

/* --------------------------------screens---------------------------- */

@media only screen and (min-width: 300px) {
	.nav-links {
		display: none;
	}

	.menu {
		width: 20px;
		display: block;
	}
}

@media only screen and (min-width: 604px) {
	.nav-links {
		display: flex;
	}

	.menu {
		display: none;
	}

	.inner-container {
		grid-template-columns: 50% auto;
		gap: 2em;
		align-items: center;
	}
}

.container {
	min-width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner-container {
	display: grid;
	padding: 0 2em;
	width: 100%;

	.hero-image {
		width: 35em;
	}
	.hero-caption {
		display: block;
&
		h4 {
			color: var(--Purple);
			font-size: 16px;
			font-weight: bold;
		}
		h1 {
			font-size: 2em;
			margin: 0.5em 0;
			font-weight: bolder;
		}

		p {
			color: #303030;
			font-size: 17px;
			margin-bottom: 1em;
		}
	}
}

// --------------------------------------------------
#features {
	width: 100%;
}
.row {
	flex-direction: row;
	display: flex;
	justify-content: center;
	gap: 5px;

	.col {
		border: solid 1px;
		display: block;
		justify-content: center;
		align-items: center;

		.wrapper {
			margin-top: 3em;
		}

		h2,
		p {
			margin: 9px;
		}
	}
}

.card {
	border-radius: 0.5em;
	border: solid 1px;
	overflow: hidden;

	.card-image {
		width: 100%;
		height: 10em;
		overflow: hidden;
	}
	.card-body {
		h3 {
			font-size: x-large;
			font-weight: 600;
			margin: 0.3em 0;
			font-variant-caps: all-petite-caps;
		}
	}
}
@media only screen and (min-width: 604px) {
	.col {
		grid-template-columns: repeat(3, 1fr);
	}
}

// loader
.loading {
				position: relative;
				display: grid;
				place-content: center;
				height: 30px;
				color: rgb(244, 243, 248);
				font-size: larger;
			}

			.loading::after {
				position: absolute;
				content: '';
				width: 15px;
				height: 4px;
				background-color: rgb(246, 0, 0);
				bottom: 0;
				animation: loader linear infinite 2s;
			}

			@keyframes loader {
				0% {
					background-color: #ff0000;
				}

				30% {
					background-color: #00f80c;
				}

				60% {
					transform: translateX(50px);
					background-color: rgb(255, 0, 217);
				}

				100% {
					background-color: #f3e40d;
				}

			}
