:root {
  --Purple: #c55ffc;
  --Purple-Haze: #efdcf9;
  --Charcoal: #323e42;
  --Violet: #7954a1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

body {
  background-color: var(--Purple-Haze);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
}

img {
  width: 100%;
}

header {
  min-width: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--Violet);
  padding: 10px 0;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1em;
  position: absolute;
}

header nav .logo {
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 800;
  color: whitesmoke;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li .link {
  text-transform: capitalize;
  color: aliceblue;
}

.menu {
  display: none;
}

/* --------------------------------screens---------------------------- */
@media only screen and (min-width: 300px) {
  .nav-links {
    display: none;
  }
  .menu {
    width: 20px;
    display: block;
  }
}

@media only screen and (min-width: 604px) {
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    display: none;
  }
  .inner-container {
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
    gap: 2em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container {
  min-width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-container {
  display: -ms-grid;
  display: grid;
  padding: 0 2em;
  width: 100%;
}

.inner-container .hero-image {
  width: 35em;
}

.inner-container .hero-caption {
  display: block;
}

.inner-container .hero-caption h4 {
  color: var(--Purple);
  font-size: 16px;
  font-weight: bold;
}

.inner-container .hero-caption h1 {
  font-size: 2em;
  margin: 0.5em 0;
  font-weight: bolder;
}

.inner-container .hero-caption p {
  color: #303030;
  font-size: 17px;
  margin-bottom: 1em;
}

#features {
  width: 100%;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.row .col {
  border: solid 1px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row .col .wrapper {
  margin-top: 3em;
}

.row .col h2,
.row .col p {
  margin: 9px;
}

.card {
  border-radius: 0.5em;
  border: solid 1px;
  overflow: hidden;
}

.card .card-image {
  width: 100%;
  height: 10em;
  overflow: hidden;
}

.card .card-body h3 {
  font-size: x-large;
  font-weight: 600;
  margin: 0.3em 0;
  font-variant-caps: all-petite-caps;
}

@media only screen and (min-width: 604px) {
  .col {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */
